body{
background-color: #F1F7E7;
}
hr{
  background-color: #F1F7E7;
  border-style: none;
  border-top-style: dotted;
  width: 70%;
  border-color: #00C897;
  border-width: 5px;
}
img{
  width: 200px;
}
h1{
  font-family: "Sofia", sans-serif;
  color: #00C897;
}
h3{
  font-family: "Sofia", sans-serif;
  color: #00C897;
}
a{
  color: green;
  font: Georgia, serif;
  text-decoration: none;
}
.img{
  border-radius: 100%;
}
.img:hover{
  width: 350px;
  border: solid ;

}
