body{
background-color: #EBC7E8;
}
hr{
  background-color: #EBC7E8;
  border-style: none;
  border-top-style: dotted;
  width: 70%;
  border-color: #C449C2;
  border-width: 5px;
}
img{
  width: 200px;
}
h1{
  color: #C449C2;
}
h3{
  color: #C449C2;
}
.img{
  border-radius: 100%;
}
img:hover{
  width: 350px;
  border: solid;
  
}
